:root {
  --app-background: #18171F;
  --card-color: #24232C;
  --font-color: #E6E5EA;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--app-background);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}