@font-face {
  font-family: JetBrainsMono-Bold;
  src: url(./assets/fonts/static/JetBrainsMono-Bold.ttf);
}

@font-face {
  font-family: JetBrainsMono-BoldItalic;
  src: url(./assets/fonts/static/JetBrainsMono-BoldItalic.ttf);
}

@font-face {
  font-family: JetBrainsMono-Italic;
  src: url(./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: JetBrainsMono;
  src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
}

:root {
  --app-background: #18171f;
  --secondary-background: #817d92;
  --card-background: #24232c;
  --app-white: #e6e5ea;
  --app-green: #a4ffaf;
  --app-red: #f64a4a;
  --app-orange: #fb7c58;
  --app-yellow: #f8cd65;
  --primary-font: JetBrainsMono;
  --bold-font: JetBrainsMono-Bold;
  --italic-font: JetBrainsMono-Italic;
  --bold-italic-font: JetBrainsMono-BoldItalic;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--app-background);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
